.skills{
     width: 100%;
     min-width: 25.6rem;
     height: 100vh;
     opacity: .8;
     font-family: 'Poppins', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #ACABAB;
}


.skills h2{
     color: #0D0C0C;
     font-size: 2.6rem;
     margin: 5rem 0; 
     text-align: center;
}


.skills .skills-description{
     padding: 3rem;
     display: flex;
     justify-content: center;
     gap: 2rem;
     flex-wrap: wrap;
}

.background-icon{
     background-color: #FFF;
     width: 4.4rem;
     height: 4.4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     border-radius: .5rem;
}


.skills .skills-description .skills-icons-box img{
     width: 4.4rem;
     border-radius: .4rem;
}


.skills .skills-description .skills-icons-box .postgres-icon{
     width: 4.1rem;
}


.skills .skills-description .skills-icons-box .mysql-icon-image{
     width: 4.1rem;
     margin-left: 10%;  
}

.mysql-icon{
     background-color: #204564;
}


.skills .skills-description .skills-icons-box .redimention-icon{
     width: 4rem;  
}

/*-- MEDIA QUERIE --*/

@media (min-width:376px) and (max-width:460px){

     .skills{
          height: 100vh;
     }

     .background-icon{
          width: 6.6rem;
          height: 6.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box img{
          width: 6.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box .postgres-icon{
          width: 6.2rem;
     }
     
     
     .skills .skills-description .skills-icons-box .mysql-icon-image{
          width: 6.2rem;
     }
     
     .mysql-icon{
          background-color: #204564;
     }
     
     
     .skills .skills-description .skills-icons-box .redimention-icon{
          width: 6rem;  
     }
}


@media (min-width:460px) and (max-width:559px){

     .skills{
          height: 100vh;
     }

     .background-icon{
          width: 8.6rem;
          height: 8.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box img{
          width: 8.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box .postgres-icon{
          width: 8.2rem;
     }
     
     
     .skills .skills-description .skills-icons-box .mysql-icon-image{
          width: 8.2rem;
     }
     
     .mysql-icon{
          background-color: #204564;
     }
     
     
     .skills .skills-description .skills-icons-box .redimention-icon{
          width: 8rem;  
     }
}



@media (min-width:560px) and (max-width:719px){

     .skills{
          height: 100vh;
     }

     .background-icon{
          width: 10.6rem;
          height: 10.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box img{
          width: 10.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box .postgres-icon{
          width: 10.2rem;
     }
     
     
     .skills .skills-description .skills-icons-box .mysql-icon-image{
          width: 10.2rem;
     }
     
     .mysql-icon{
          background-color: #204564;
     }
     
     
     .skills .skills-description .skills-icons-box .redimention-icon{
          width: 10rem;  
     }
}


@media (min-width:720px) and (max-width:960px){

     .skills{
          height: 100vh;
     }
     
     .background-icon{
          width: 12.6rem;
          height: 12.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box img{
          width: 12.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box .postgres-icon{
          width: 12.2rem;
     }
     
     
     .skills .skills-description .skills-icons-box .mysql-icon-image{
          width: 12.2rem;
     }
     
     .mysql-icon{
          background-color: #204564;
     }
     
     
     .skills .skills-description .skills-icons-box .redimention-icon{
          width: 10rem;  
     }
}


@media (min-width:961px) and (max-width:1024px){

     .skills{
          height: 100vh;
          margin: 0 auto;
          padding: 0 10%;
          padding-top: 8rem;
          padding-bottom: 5rem;
          align-items: flex-start;
     }
     
     .skills h2{
          text-align: left;
     }
     
     .background-icon{
          width: 14.6rem;
          height: 14.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box img{
          width: 14.6rem;
     }
     
     
     .skills .skills-description .skills-icons-box .postgres-icon{
          width: 14.2rem;
     }
     
     
     .skills .skills-description .skills-icons-box .mysql-icon-image{
          width: 14.2rem;
     }
     
     .mysql-icon{
          background-color: #204564;
     }
     
     
     .skills .skills-description .skills-icons-box .redimention-icon{
          width: 14rem;  
     }
}


@media (min-width:1025px){

     .skills{
          height: 100vh;
          margin: 0 auto;
          padding: 0 10%;
          padding-top: 8rem;
          padding-bottom: 5rem;
          align-items: flex-start;
     }

     .background-icon{
          width: 16.8rem;
          height: 16.8rem;
     }

     .skills h2{
          text-align: left;
     }
     
     .skills .skills-description .skills-icons-box img{
          width: 16.8rem;
     }
     
     .skills .skills-description .skills-icons-box .postgres-icon{
          width: 16.2rem;
     }
     
     
     .skills .skills-description .skills-icons-box .mysql-icon-image{
          width: 16.2rem;
     }
     
     .mysql-icon{
          background-color: #204564;
     }
        
     .skills .skills-description .skills-icons-box .redimention-icon{
          width: 16rem;  
     }
}

   