
body{
     position: relative;
}

.home{
     width: 100%;
     margin: 0 auto;

     padding: 2rem 10rem;

     
}

.home .top-part{
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.home h1{
     color: #FFF;
}

/* .home .user-image img{
     width: 13%;
     height: 16%;
     border-radius: 50%;
     position: absolute;

     left: 800px;
     
} */