.contact{
     width: 100%;
     min-width: 37.7rem;
     display: flex;
     flex-direction: column;
     color: #FFF;
     font-family: 'Poppins', sans-serif;
     margin: 15rem 0 0 0;
}


.contact .contact__title{
     color: #0D0C0C;
     font-size: 2.6rem;
     margin: 0 0 5rem 0; 
     text-align: center;  
}


.contact .contact__container{
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #FFF;
     margin-bottom: 8rem;
}


.contact .contact__container p{
     font-size: 1.6rem;
     font-weight: 500;

}


.contact .contact__container .contact__second-paragraph{
     margin-bottom: 1rem;
}


.contact .contact__container form{
     width: 80%;
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
}


.contact .contact__container form input{
     height: 3rem;
     padding: 1rem;
     font-size: 1.4rem;
     border: none;
     font-family: 'Poppins', sans-serif;
     background-color: #C4C4C4;
}


.contact .contact__container form input:focus{
     outline: 0;
}


.contact .contact__container form textarea{
     height: 16rem;
     padding: 1rem;
     font-size: 1.4rem;
     border: none;
     font-family: 'Poppins', sans-serif;
     background-color: #C4C4C4;
}


.contact .contact__container form textarea:focus{
     outline: 0;
}


.contact .contact__container form .contact__button{
     height: 4rem;
     width: 100%;
     background-color: transparent;
     color: #0D0C0C;
     border: 1px solid #0D0C0C;
     margin: 0 auto;
     font-size: 1.6rem;
     transition: .8s ease-in-out;
}


.contact .contact__container form button:hover{
     cursor: pointer;
     background-color: #0D0C0C;
     color: #FFF;
     border: none;
}


.footer{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: 'Poppins', sans-serif;
     margin-top: 4rem;
}


.footer .footer__text{
     font-size: 1.3rem;
     font-weight: 400;
     color: #0D0C0C;
}





/*-- MEDIA QUERIE --*/


@media (min-width:961px){

     .contact{
          height: 100vh;
          margin: 0 auto;
          margin-bottom: 2rem;
          padding: 0 10%;
          padding-top: 10rem;
          padding-bottom: 5rem;
     }
     
     
     .contact .contact__title{
          text-align: left;    
          margin: 0; 
     }
     
}


