
.navbar{
     display: flex;
     justify-content: center;
}

.navbar-container{
     /* width: 100%; */
     width: 90%;
     height: 7rem;

     padding: 2rem 8rem;
     position: fixed;

     display: flex;
     align-items: center;
     justify-content: space-between;

     background-color: #1B1B1B;

     border-radius: .8rem;
    
     z-index: 2;

     font-family: 'IBM Plex Mono', monospace;   
}

.navbar-container .right-part{
     display: flex;

     gap: 3rem;
}

.navbar-container .right-part .social-media-icons-box{
     width: 2.4rem;
     height: 2.4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: #9C9C9C; */
     background-color: #a09e9e;
     /* background-color: #bbbbbb; */
     border-radius: .5rem;
     border: none;
}

.navbar-container .right-part .social-media-icons-box img{
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
}



.navbar-container .left-part{
     width: 70%;  
}

.navbar-container .left-part ul{
     display: flex;
     align-items: center;
     gap: 7rem;
     position: relative;
}

.navbar-container .left-part ul li{
     
     list-style: none;
     font-size: 1.4rem;
     position: relative;   
}

.navbar-container .left-part ul li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #2A7AE480;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}

.navbar-container .left-part ul li:hover::after{
     width: 90%;
}

.navbar-container .left-part ul li a{
     color: #9C9C9C;
     text-decoration: none;
}

