
.navbar{
     display: flex;
     justify-content: center;
}

.navbar-container{
     /* width: 100%; */
     width: 90%;
     height: 7rem;

     padding: 2rem 8rem;
     position: fixed;

     display: flex;
     align-items: center;
     justify-content: space-between;

     background-color: #1B1B1B;

     border-radius: .8rem;
    

     z-index: 2;

     font-family: 'Elsie Swash Caps', cursive;
     font-family: 'IBM Plex Mono', monospace;   
}

.navbar-container .right-part{
     display: flex;

     gap: 3rem;
}

.navbar-container .right-part .social-media-icons-box{
     width: 2.3rem;
     height: 2.3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: #9C9C9C; */
     background-color: #a09e9e;
     border-radius: .5rem;
     border: none;
}

.navbar-container .right-part .social-media-icons-box img{
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
}



.navbar-container .left-part{
     width: 70%;
    
     
}

.navbar-container .left-part ul{
     display: flex;
     align-items: center;
     gap: 7rem;

}

.navbar-container .left-part ul li{
     
     list-style: none;
     font-size: 1.4rem;
}

.navbar-container .left-part ul li a{
     color: #9C9C9C;
     text-decoration: none;
}

