@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Exo:wght@300;400&display=swap');
.footer{
     width: 100%;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     margin-bottom: 1rem;

     font-family: 'Exo', sans-serif;
}
.footer h6{
     font-size: 1.4rem;
     font-weight: 300;
     color: #a09e9e;
}