

/* -- COMPONENT --*/
.top-part{
     width: 100%;
     height: 100vh;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     background-image: url("../../../public/background-images/landscape.svg");
     background-size: cover;
     background-position: center;
}



/* -- NAV BAR--*/
.navbar{
     display: flex;
     justify-content: center;
}


.navbar-container{
     width: 100%;
     height: 7rem;
     padding: 2rem 14rem;
     position: fixed;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: transparent;
     z-index: 2;
     font-family: 'Poppins', sans-serif;
}


.navbar-container .right-part{
     display: flex;
     gap: 3rem;
}


.navbar-container .right-part .social-media-icons-box{
     width: 2.4rem;
     height: 2.4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent;
     border-radius: .5rem;
     border: none;
}

.navbar-container .right-part .social-media-icons-box img{
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
}



.navbar-container .left-part{
     width: 70%;  
}


.navbar-container .left-part ul{
     display: flex;
     align-items: center;
     gap: 7rem;
     position: relative;
}


.navbar-container .left-part ul li{
     list-style: none;
     font-size: 1.4rem;
     font-weight: 500;
     position: relative;   
}


.navbar-container .left-part ul li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #2A7AE480;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}


.navbar-container .left-part ul li:hover::after{
     width: 90%;
}


.navbar-container .left-part ul li a{
     color: #161212;
     text-decoration: none;
}


.navbar.visible {
     opacity: 1;
     transition: opacity 1s;
}
   

.navbar.hidden {
     opacity: 0;
     pointer-events: none;
}
   
   

/* -- TOP PART --*/
.top-part-container{
     margin: 0 auto;
     padding: 0 14rem;
     padding-bottom: 5rem;
     padding-top: 6rem;
     display: flex;
     justify-content: space-between;
     font-family: 'Poppins', sans-serif;
}

.top-part .top-part-container .left-part{
     width: 88%;
     display: flex;
     flex-direction: column;
     margin-top: 10.1rem;
     color: #0D0C0C;
}

.top-part .top-part-container .left-part h2{
     font-size: 3.6rem;
     margin-bottom: 2rem;  
}


.top-part .top-part-container .left-part h3{
     color: #292727;
}


.top-part .top-part-container .left-part h6{
     font-size: 1.6rem;
     color: #292727;
}

.top-part .top-part-container .left-part ul{
     display: flex;
     gap: 2rem;
}

.top-part .top-part-container .top-part-container .left-part ul li{
     font-size: 1.4rem;
     list-style: none;
     
}

.top-part .top-part-container .left-part ul li a{
     color: #dddada;
     text-decoration: none;
     font-weight: 600;
}


.top-part .top-part-container .right-part{
     display: flex;
     margin-top: 8rem;
}


.top-part .top-part-container .right-part img{
     border-radius: 50%;
     width: 20rem;
     height: 20rem;
     margin-right: 5rem;
}


.btn-download-curriculum-container{
     width: 100%;
     display: flex;
     justify-content: center;
}


.btn-download-curriculum{
     margin-top: 5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent;
     color: rgb(57, 56, 56);
     font-size: 1.6rem;
     min-width: 20rem;
     padding: 1.5rem;
     outline: 1;
     border: 1px solid rgb(57, 56, 56);
     cursor: pointer;
     transition: .8s ease-in-out;
}


.btn-download-curriculum:hover{
     border: none;
     color: #FFF;
     background-color: rgb(57, 56, 56);
}
