
.my-projects {
     width: 100%;
     
     margin: 0 auto;
     padding: 0 14rem;
     padding-top: 6rem;
     margin-bottom: 5rem;
     /* background-color: #1B1B1B; */
     opacity: .8;
     font-family: 'IBM Plex Mono', monospace;  
     display: flex;
     flex-direction: column;
}


.my-projects h2{
     color: #FFF;
     font-size: 2rem;
     /* margin-bottom: 2rem; */     
}
.my-projects .my-projects-container{
     padding: 3rem;

     display: flex;
     align-items: center;
     justify-content: space-around;
}


.my-projects .my-projects-container .my-projects-icons-box{
     background-color: #FFF;
     width: 44%;
     min-height: 56rem;
     /* height: 20rem; */
     padding: 2rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: .5rem;  

     color: #000;
     text-decoration: none;
}



.my-projects .my-projects-container .my-projects-icons-box img{
     width: 100%;
     min-width: 40.395rem;
     min-height: 38.644rem;
     margin-bottom: 1rem;
}

.my-projects .my-projects-container .my-projects-icons-box .my-projects-description{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.my-projects .my-projects-container .my-projects-icons-box .my-projects-description h3{

     font-weight: 800;
     font-size: 3rem;
     text-align: center;
}

.my-projects .my-projects-container .my-projects-icons-box .my-projects-description p{

     font-weight: 600;
     font-size: 1.6rem;
     text-align: center;
}

.my-projects .my-projects-container .my-projects-icons-box .used-project-tech{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .4rem;

     margin-top: 1.8rem;

     font-size: 1.2rem;
     font-weight: 800;
}

.my-projects .my-projects-container .my-projects-icons-box .used-project-tech p{
     font-size: 1.2rem;    
}