*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}


body{

     background-image: url("./../public/background3.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     height: 200vh;

     background-color: #0C0C0C;

     margin: 0 auto;
}