


.about-me {
     width: 100%;
     min-width: 25.6rem;
     height: 100vh;
     opacity: .8;
     font-family: 'Poppins', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.about-me h2{
     color: #0D0C0C;
     font-size: 2.6rem;
     margin: 5rem 0; 
}

.about-me .about-me-description{
     padding: 3rem;
     border-radius: .8rem;
     text-align: center;
}
.about-me .about-me-description p{
     width: 100%;
     font-size: 1.2rem;
     font-weight: 500;
     color: #1e1e1e;
     margin-bottom: 2.6rem;
}




/*-- MEDIA QUERIE --*/

@media (min-width:340px) and (max-width:539){
     .about-me .about-me-description p{
          font-size: 1.4rem;
     }
}

@media (min-width:540px) and (max-width:960){
     .about-me .about-me-description p{
          font-size: 1.6rem;
     }
}



@media (min-width:961px){
     
     .about-me {
          height: 100vh;
          margin: 0 auto;
          padding: 0 10%;
          padding-top: 10rem;
          padding-bottom: 5rem;
          margin-bottom: 5rem;
          align-items: flex-start;
     }
     
     .about-me .about-me-description{
          text-align: left;
     }
     .about-me .about-me-description p{
          width: 96%;
          font-size: 1.9rem;
     }
}