


.about-me {
     width: 100%;
     min-width: 37.7rem;
     opacity: .8;
     font-family: 'Poppins', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 5rem;
}

.about-me .about-me__title{
     color: #0D0C0C;
     font-size: 2.6rem;
     margin: 5rem 0 2rem 0; 
}

.about-me .about-me__description{
     padding: 3rem;
     border-radius: .8rem;
     text-align: center;
}
.about-me .about-me__description p{
     width: 100%;
     font-size: 1.2rem;
     font-weight: 500;
     color: #1e1e1e;
     margin-bottom: 2.6rem;
}




/*-- MEDIA QUERIE --*/

@media (min-width:300px) and (max-width:339px){
     .about-me{
          padding-top: 12rem;
     }

     .about-me .about-me__title{
          margin: 5rem 0 0 0; 
     }
}

@media (min-width:340px) and (max-width:439px){
     .about-me{
          padding-top: 10rem;
     }

     .about-me .about-me__title{
          margin: 5rem 0 2rem 0; 
     }
}

@media (min-width:440px) and (max-width:539px){
   
     .about-me .about-me__title{
          margin: 5rem 0 2rem 0; 
     }
     .about-me .about-me__description p{
          font-size: 1.4rem;
     }
}

@media (min-width:540px) and (max-width:960px){
     .about-me{
          padding-top: 0;
     }

     .about-me .about-me__title{
          margin: 10rem 0 2rem 0;
     }


     .about-me .about-me__description p{
          font-size: 1.7rem;
     }


}



@media (min-width:961px){
     
     .about-me {
          height: 100vh;
          margin: 0 auto;
          padding: 0 10%;
          padding-top: 10rem;
          padding-bottom: 5rem;
          margin-bottom: 5rem;
          align-items: flex-start;
     }
     
     .about-me .about-me__description{
          text-align: left;
     }
     .about-me .about-me__description p{
          width: 96%;
          font-size: 1.9rem;
     }
}